<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demotest.domain.mapper.BookMapper">
    <select id="findAll" resultType="Book">
        SELECT * FROM book
    </select>
    <select id="findByName" resultType="com.example.demotest.domain.entity.Book" >
        SELECT Name,description FROM book where Name like concat('%',#{name},'%')
    </select>
    <insert id="addBook" parameterType="com.example.demotest.domain.entity.Book" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO book (`Name`, `Description`) VALUES (#{name}, #{description})
    </insert>

    <delete id="deleteBook" parameterType="Long">
        DELETE FROM book WHERE id=#{id}
    </delete>

    <update id="updateBook" parameterType="com.example.demotest.domain.entity.Book">
        UPDATE book
        SET `Name`=#{name},
            Description=#{description}
            WHERE id=#{id}
    </update>
</mapper>