<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demotest.domain.mapper.MessageMapper">
    <select id="selectOrderByLimitAndOffset" resultType="Message">
        select * from messages
        <where>
            <if test="content != null"> content  like concat('%',#{content},'%') </if>
        </where>
        order by #{orderByField}
        limit #{limit}
        offset #{offset}
    </select>
    <select id="selectOrderByLimitCount" resultType="Integer">
        select count(id) from messages
        <where>
            <if test="content != null"> content  like concat('%',#{content},'%') </if>
        </where>
    </select>

    <insert id="addMessage" parameterType="com.example.demotest.domain.entity.Message" keyProperty="id" useGeneratedKeys="true">
        insert into messages(content, username) VALUES (#{content}, #{username})
    </insert>

</mapper>